.createpost{
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid gray;
    border-radius: 5px;
}
.main-div{
    border-top: 1px solid gray;
    padding: 10px;
}
.post-header{
    display: flex;
   
}
#post-btn{
    border: none;
    color: rgb(39, 183, 219);
    background-color: transparent;
    cursor: pointer;
font-weight: bolder;
}
.details{
    border: 1px solid gray;
}
textarea{
    width: 90%;
    border: none;
    outline: none;
}
#output{
    width: 300px;
    border: none;
    outline: none;
}